<form [formGroup]="horarioForm" (ngSubmit)="guardarHorario()">
  <div class="row align-items-center">
    <div class="col-5">
      <select id="inputState" [class.is-invalid]="horarioForm.get('diaSemana').touched && horarioForm.get('diaSemana').invalid" class="form-select" formControlName="diaSemana" required>
        <option selected value="LUNES">Lunes</option>
        <option value="MARTES">Martes</option>
        <option value="MIERCOLES">Miercoles</option>
        <option value="JUEVES">Jueves</option>
        <option value="VIERNES">Viernes</option>
        <option value="SABADO">Sabado</option>
        <option value="DOMINGO">Domingo</option>
      </select>
    </div>

    <input class="col-4 h-50" type="time" id="time"  [class.is-invalid]="horarioForm.get('hora').touched && horarioForm.get('hora').invalid" formControlName="hora" required />

    <button class="btn btn-dark col-3 h-50" type="submit" id="button-addon">
      Agregar
    </button>
  </div>
</form>
