<form [formGroup]="formClase" (ngSubmit)="guardarClase()">
  <div class="row">
    <select
      name=""
      id="id-profesor"
      class="form-select mb-2"
      formControlName="profesor"
      (change)="onSelect($event.target.value)"
      required
      *ngIf="profesores"
    >
      <option
        *ngFor="let profesor of profesores | async"
        value="{{ profesor.id }}"
      >
        {{ profesor.persona.nombres }}
      </option>
    </select>
    <input
      class="mb-2 form-control"
      type="datetime-local"
      min="{{ dia() }}"
      formControlName="horaCita"
      required
    />

    <button class="btn btn-primary">Agendar Clase</button>
  </div>
</form>
