<div class="row w-100">
  <div class="col-12">
    <h2 class="text-center fs-2 fw-bolder">Lista de estudiantes</h2>
  </div>
  <div class="justify-content-around justify-content-md-between w-100 row mx-2">
    <app-card-estudiante
      class="col-10 col-md-4 col-xl-2 my-4"
      *ngFor="let estudiante of listaEstudiantes | async"
      [estudianteData]="estudiante"
    ></app-card-estudiante>
  </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
