<h2 class="text-center fs-2 fw-bolder">Estudiante Detalle</h2>
<div class="card   w-75 mx-auto py-4" >
  <app-mostrar-notificacion [estado]="estado" [mensaje]="mensaje"></app-mostrar-notificacion>
  <div class="row g-0 justify-content-around align-items-center">

    <div class="col-md-3">

      <div class="card-body" *ngIf="estudianteActual">
        <h5 class="card-title">{{ estudianteActual.persona.nombres + " " + estudianteActual.persona.apellidos }}</h5>
        <p class="card-text">{{ estudianteActual.nivelEstudios }}</p>
      </div>
    </div>

    <div class="col-md-8 mx-1 ">

      <table class="table table-striped shadow  rounded">
        <thead>
          <tr>
            <th scope="col">Nombre Profesor</th>
            <th scope="col">Fecha</th>
            <th scope="col">Valor</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="clasesEstudiante">
          <tr  *ngFor="let clase of clasesEstudiante | async" >
            <th  scope="row">{{ clase.profesorDTO.persona.nombres + " "+ clase.profesorDTO.persona.apellidos }}</th>
            <td>{{ clase.fecha }}</td>
            <td>{{ clase.valor }}</td>
            <td><app-actualizar-clase  [claseActualizar]="clase"  (seActualizo)="cargarClases($event, 'actualizar')"></app-actualizar-clase></td>
            <td> <app-eliminar-clase [idClase]="clase.id" (seElimino)="cargarClases($event, 'eliminar')"></app-eliminar-clase> </td>
          </tr>
        </tbody>
      </table>

      <app-crear-clase *ngIf="estudianteActual" [idEstudiante]="estudianteActual.id" (seCreo)="cargarClases($event, 'crear')" ></app-crear-clase>

    </div>


  </div>
</div>

