<button
  type="button"
  class="btn btn-secondary"
  data-bs-toggle="modal"
  [attr.data-bs-target]="'#' + 'horarioActualizar' + idHorario"
>
  <i class="bi bi-pencil-fill"></i>
</button>
<div
  class="modal fade"
  [id]="'horarioActualizar' + idHorario"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actualizar Tema</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="formHorarioActualizar" (ngSubmit)="actualizarHorario()">
        <div class="modal-body">
              <select [class.is-invalid]="formHorarioActualizar.get('diaSemanaActualizar').touched && formHorarioActualizar.get('diaSemanaActualizar').invalid" class="form-select " formControlName="diaSemanaActualizar" required>
                <option selected value="LUNES">Lunes</option>
                <option value="MARTES">Martes</option>
                <option value="MIERCOLES">Miercoles</option>
                <option value="JUEVES">Jueves</option>
                <option value="VIERNES">Viernes</option>
                <option value="SABADO">Sabado</option>
                <option value="DOMINGO">Domingo</option>
              </select>


            <input class="form-control mt-2" type="time"   [class.is-invalid]="formHorarioActualizar.get('horaActualizar').touched && formHorarioActualizar.get('horaActualizar').invalid" formControlName="horaActualizar" required />


        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            [disabled]="formHorarioActualizar.invalid"
            type="submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
          >
            Actualizar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
